# DataFrame conversions

In [1]:
import pyam
import pandas as pd

We start with some emissions data from an IAM.

In [2]:
iam_df = pyam.IamDataFrame(pd.DataFrame([
    ['a_model', 'a_scenario', 'World', 'Emissions|CO2', 'Gt C / yr', 1, 6.],
    ['a_model', 'a_scenario', 'World', 'Emissions|CO2|Coal', 'Gt C / yr', 0.5, 3],
],
    columns=['model', 'scenario', 'region', 'variable', 'unit', 2005, 2010],
))

In [3]:
iam_df.head()

     model    scenario region            variable       unit  year  value
0  a_model  a_scenario  World       Emissions|CO2  Gt C / yr  2005    1.0
2  a_model  a_scenario  World       Emissions|CO2  Gt C / yr  2010    6.0
1  a_model  a_scenario  World  Emissions|CO2|Coal  Gt C / yr  2005    0.5
3  a_model  a_scenario  World  Emissions|CO2|Coal  Gt C / yr  2010    3.0

We convert to an OpenSCMDataFrame.

In [4]:
openscm_df = iam_df.to_openscm_df()

In [5]:
openscm_df.head()

  model            scenario region            variable       unit  year  value
0   N/A  a_scenario|a_model  World       Emissions|CO2  Gt C / yr  2005    1.0
1   N/A  a_scenario|a_model  World       Emissions|CO2  Gt C / yr  2010    6.0
2   N/A  a_scenario|a_model  World  Emissions|CO2|Coal  Gt C / yr  2005    0.5
3   N/A  a_scenario|a_model  World  Emissions|CO2|Coal  Gt C / yr  2010    3.0

Note that the IAM model gets combined with the scenario in order to free up a column for our climate data.

Then we run our climate model (method to be written).

In [6]:
climate_output = pd.DataFrame([
    ['MAGICC7', 'a_scenario|a_model', 'World', 'Atmospheric Concentrations|CO2', 'ppm', 2005, 395],
    ['MAGICC7', 'a_scenario|a_model', 'World', 'Atmospheric Concentrations|CO2', 'ppm', 2010, 401],
    ['MAGICC7', 'a_scenario|a_model', 'World', 'Surface Temperature', 'K', 2005, 0.9],
    ['MAGICC7', 'a_scenario|a_model', 'World', 'Surface Temperature', 'K', 2010, 0.94],
    ['MAGICC7', 'a_scenario|a_model', 'World', 'Emissions|CO2', 'Gt C / yr', 2005, 0.5],
    ['MAGICC7', 'a_scenario|a_model', 'World', 'Emissions|CO2', 'Gt C / yr', 2010, 3.0],
],
    columns=['model', 'scenario', 'region', 'variable', 'unit', 'year', 'value'],
)
openscm_df.data = pd.concat([openscm_df.data, climate_output])

We report the output emissions from our climate model too as a check of any internal shifts which may have been done.

Now we can convert back to an IamDataFrame.

In [7]:
iam_df_with_climate_data = openscm_df.to_iam_df()

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
iam_df_with_climate_data.data

,model,scenario,region,variable,unit,year,value
4,a_model,a_scenario,World,Diagnostics|MAGICC7|Atmospheric Concentrations...,ppm,2005,395.00
5,a_model,a_scenario,World,Diagnostics|MAGICC7|Atmospheric Concentrations...,ppm,2010,401.00
8,a_model,a_scenario,World,Diagnostics|MAGICC7|Emissions|CO2,Gt C / yr,2005,0.50
9,a_model,a_scenario,World,Diagnostics|MAGICC7|Emissions|CO2,Gt C / yr,2010,3.00
6,a_model,a_scenario,World,Diagnostics|MAGICC7|Surface Temperature,K,2005,0.90
7,a_model,a_scenario,World,Diagnostics|MAGICC7|Surface Temperature,K,2010,0.94
0,a_model,a_scenario,World,Emissions|CO2,Gt C / yr,2005,1.00
1,a_model,a_scenario,World,Emissions|CO2,Gt C / yr,2010,6.00
2,a_model,a_scenario,World,Emissions|CO2|Coal,Gt C / yr,2005,0.50
3,a_model,a_scenario,World,Emissions|CO2|Coal,Gt C / yr,2010,3.00

In [9]:
iam_df_with_climate_data.models()

0    a_model
Name: model, dtype: object

In [10]:
iam_df_with_climate_data.scenarios()

0    a_scenario
Name: scenario, dtype: object

In [11]:
iam_df_with_climate_data.variables()

0    Diagnostics|MAGICC7|Atmospheric Concentrations...
1                    Diagnostics|MAGICC7|Emissions|CO2
2              Diagnostics|MAGICC7|Surface Temperature
3                                        Emissions|CO2
4                                   Emissions|CO2|Coal
Name: variable, dtype: object

If I knew how to make pretty plots here I would...